# 課題（Omnicampus上で解答を提出してください）

homework3などで扱った購買データを利用して以下の問いに答えて、課題を提出してください。（データの前処理は、以下の記載の通りに行ってください。）
    
Chapter8の講義資料の総合問題8-1で求めた最も支持度が高かった商品の2つの組み合わせについて、**リフト値**を求めてください。  
最も支持度が高かった商品の`"StockCode"`を、再度求める必要は無く、コード内で直接記入してください。  
その際、`"StockCode"`を**文字型**で指定してください。  
>例：`"StockCode"`が`00001`のデータを参照する場合  
>- 正：`target_online_retail_data_tb["StockCode"]=="00001"`  
>- 誤：`target_online_retail_data_tb["StockCode"]==00001`

提出するときは、以下の点に注意してください。  
>- 以下の関数homeworkの!!WRITE ME!!に処理を書いてください。(**「!!WRITE ME!!」は消して、記入してください。**)
>- 実際の提出は記述されたhomework関数全てになり、**提出場所はOmnicampus右上にある青字のHomeworkドロップダウンメニューからHomework 6を選んでください。Solutionに関数を貼り付けてからSaveを押してください。**
>- `#common`のセルで事前に前処理されたデータ`target_online_retail_data_tb`をそのまま用いてください。
>- 返り値が数値型になるようにしてください。

In [ ]:
# common
import pandas as pd
import numpy as np

## init part(データの読み込みと前処理)
file_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx"
online_retail_data = pd.ExcelFile(file_url)
online_retail_data_table = online_retail_data.parse('Online Retail')

online_retail_data_table['cancel_flg'] = online_retail_data_table.InvoiceNo.map(lambda x:str(x)[0])

# 数字があるものとIDがNullでないものが対象
target_online_retail_data_tb = online_retail_data_table[(online_retail_data_table.cancel_flg == '5') 
                                                        & (online_retail_data_table.CustomerID.notnull())]

target_online_retail_data_tb = target_online_retail_data_tb.assign(TotalPrice=target_online_retail_data_tb.Quantity * target_online_retail_data_tb.UnitPrice)

# StockCodeを全て文字型として扱う
target_online_retail_data_tb = target_online_retail_data_tb.astype({'StockCode': str})

In [ ]:
def homework(target_online_retail_data_tb):
    # InoivceNoの先頭1文字をcancel_flgとして追加
    target_online_retail_data_tb['cancel_flg'] = target_online_retail_data_tb.InvoiceNo.map(lambda x:str(x)[0])

    # cancel_flgでグルーピングして集計
    target_online_retail_data_tb.groupby('cancel_flg').size()

    trans = target_online_retail_data_tb[(target_online_retail_data_tb.cancel_flg == '5') & (target_online_retail_data_tb.CustomerID.notnull())]

    # すべてのInvoiceNoをtrans_allとして抽出
    trans_all = set(trans.InvoiceNo) 

    # 商品20725を購入したデータをtrans_aとする
    trans_a = set(trans[trans['StockCode']=='20725'].InvoiceNo)

    # 商品22383を購入したデータをtrans_bとする
    trans_b = set(trans[trans['StockCode']=='22383'].InvoiceNo)

    # 商品20725および22383を購入したデータをtrans_abとする
    trans_ab = trans_a&trans_b

    # 全体のバスケットに占める商品Bの購買率を計算
    support_b = len(trans_b) / len(trans_all)

    # 商品Aを購買したときの商品Bの購買率を計算
    confidence = len(trans_ab) / len(trans_a)

    # リスト値を計算
    my_result = confidence / support_b

    return my_result

In [ ]:
homework(target_online_retail_data_tb)

7.155601605739843

In [ ]:
target_online_retail_data_tb

       InvoiceNo StockCode  ... cancel_flg  TotalPrice
0         536365    85123A  ...          5       15.30
1         536365     71053  ...          5       20.34
2         536365    84406B  ...          5       22.00
3         536365    84029G  ...          5       20.34
4         536365    84029E  ...          5       20.34
...          ...       ...  ...        ...         ...
541904    581587     22613  ...          5       10.20
541905    581587     22899  ...          5       12.60
541906    581587     23254  ...          5       16.60
541907    581587     23255  ...          5       16.60
541908    581587     22138  ...          5       14.85

[397924 rows x 10 columns]

In [ ]:
# InoivceNoの先頭1文字をcancel_flgとして追加
target_online_retail_data_tb['cancel_flg'] = target_online_retail_data_tb.InvoiceNo.map(lambda x:str(x)[0])

# cancel_flgでグルーピングして集計
target_online_retail_data_tb.groupby('cancel_flg').size()

cancel_flg
5    397924
dtype: int64

In [ ]:
trans = target_online_retail_data_tb[(target_online_retail_data_tb.cancel_flg == '5') & (target_online_retail_data_tb.CustomerID.notnull())]

In [ ]:
# すべてのInvoiceNoをtrans_allとして抽出
trans_all = set(trans.InvoiceNo) 

# 商品20725を購入したデータをtrans_aとする
trans_a = set(trans[trans['StockCode']=='20725'].InvoiceNo)
print(len(trans_a))

# 商品22383を購入したデータをtrans_bとする
trans_b = set(trans[trans['StockCode']=='22383'].InvoiceNo)
print(len(trans_b))

# 商品20725および22383を購入したデータをtrans_abとする
trans_ab = trans_a&trans_b
print(len(trans_ab))

1289
1043
519

In [ ]:
# trans_ab の、両商品を含むバスケットの数を表示
print('両商品を含むバスケットの数:{}'.format(len(trans_ab)))
print('両商品を含むバスケットの全体に占める割合:{:.3f}'.format(len(trans_ab)/len(trans_all)))

両商品を含むバスケットの数:519
両商品を含むバスケットの全体に占める割合:0.028

In [ ]:
# 全体のバスケットに占める商品Bの購買率を計算
support_b = len(trans_b) / len(trans_all)

# 商品Aを購買したときの商品Bの購買率を計算
confidence = len(trans_ab) / len(trans_a)

# リスト値を計算
lift = confidence / support_b
print('lift:{:.3f}'.format(lift))

lift:7.156