# 課題（Omnicampus上で解答を提出してください）

以下のサイトにあるデータ（ワインの品質）が分析対象になります。

http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

このデータを読み込み、カラムの`total sulfur dioxide`について分位点でn個（nはデータ数を越えず、同一の値が分割位置に当たらない自然数）に分割し、それぞれのグループについてpHの平均値を算出してください。さらに、このn個のグループのそれぞれのpHの平均値の中で、1番小さい平均値と1番大きな平均値を足して、その合計値を返り値とするような関数を作成してください。

提出するときは、以下の点に注意してください。  
>- 以下の関数homeworkの!!WRITE ME!!に処理を書いてください。(**「!!WRITE ME!!」は消して、記入してください。**)
>- 実際の提出は記述されたhomework関数全てになり、**提出場所はOmnicampus上にあるHomeworkからSaveしてください。Solutionに関数を貼り付けます。**   
>- 返り値が数値型(1つ)になるようにしてください。
>- 関数は1つにまとめてください。

In [0]:
# common
import numpy as np
import pandas as pd
from pandas import DataFrame
# URL
url_winequality_data = "http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"

In [0]:
# working place. everything 
def homework(url_winequality_data, n):
    data = pd.read_csv(url_winequality_data, sep=";")
    cut=pd.qcut(data["total sulfur dioxide"], n)
    group=data.groupby(cut).mean()
    sort_group=group.sort_values("pH")
    result=sort_group.reset_index(drop=True)
    ph=result["pH"]
    my_result=ph[0]+ph[n-1]
    return my_result

In [0]:
homework(url_winequality_data,10)

6.604986413043478

In [0]:
my_result = pd.read_csv(url_winequality_data, sep=";")
my_result.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [0]:
group=pd.qcut(my_result["total sulfur dioxide"], 10)
group

0       (30.0, 38.0]
1       (55.0, 69.0]
2       (45.8, 55.0]
3       (55.0, 69.0]
4       (30.0, 38.0]
            ...
1594    (38.0, 45.8]
1595    (45.8, 55.0]
1596    (38.0, 45.8]
1597    (38.0, 45.8]
1598    (38.0, 45.8]
Name: total sulfur dioxide, Length: 1599, dtype: category
Categories (10, interval[float64]): [(5.999, 14.0] < (14.0, 19.0] < (19.0, 24.0] < (24.0, 30.0] < ... <
                                     (45.8, 55.0] < (55.0, 69.0] < (69.0, 93.2] < (93.2, 289.0]]

In [0]:
pd.value_counts(group)  #データの確認

(30.0, 38.0]     184
(5.999, 14.0]    178
(45.8, 55.0]     167
(93.2, 289.0]    160
(69.0, 93.2]     159
(24.0, 30.0]     158
(55.0, 69.0]     154
(19.0, 24.0]     153
(14.0, 19.0]     152
(38.0, 45.8]     134
Name: total sulfur dioxide, dtype: int64

In [0]:
res=my_result.groupby(group).mean()
res

                      fixed acidity  volatile acidity  ...    alcohol   quality
total sulfur dioxide                                   ...
(5.999, 14.0]              8.335393          0.536770  ...  10.889045  5.668539
(14.0, 19.0]               8.892763          0.508618  ...  10.616776  5.868421
(19.0, 24.0]               8.930719          0.499183  ...  10.543137  5.758170
(24.0, 30.0]               8.191772          0.496487  ...  10.499789  5.810127
(30.0, 38.0]               8.071196          0.549891  ...  10.405707  5.663043
(38.0, 45.8]               8.358209          0.509664  ...  10.486567  5.768657
(45.8, 55.0]               8.389820          0.516168  ...  10.437725  5.634731
(55.0, 69.0]               8.064286          0.535065  ...  10.164827  5.487013
(69.0, 93.2]               8.103145          0.561447  ...  10.199895  5.496855
(93.2, 289.0]              7.940625          0.556031  ...   9.951042  5.231250

[10 rows x 12 columns]

In [0]:
re=res.sort_values("pH")
re

                      fixed acidity  volatile acidity  ...    alcohol   quality
total sulfur dioxide                                   ...
(93.2, 289.0]              7.940625          0.556031  ...   9.951042  5.231250
(14.0, 19.0]               8.892763          0.508618  ...  10.616776  5.868421
(19.0, 24.0]               8.930719          0.499183  ...  10.543137  5.758170
(55.0, 69.0]               8.064286          0.535065  ...  10.164827  5.487013
(24.0, 30.0]               8.191772          0.496487  ...  10.499789  5.810127
(5.999, 14.0]              8.335393          0.536770  ...  10.889045  5.668539
(38.0, 45.8]               8.358209          0.509664  ...  10.486567  5.768657
(69.0, 93.2]               8.103145          0.561447  ...  10.199895  5.496855
(45.8, 55.0]               8.389820          0.516168  ...  10.437725  5.634731
(30.0, 38.0]               8.071196          0.549891  ...  10.405707  5.663043

[10 rows x 12 columns]

In [0]:
df_r = re.reset_index(drop=True)
df_r

   fixed acidity  volatile acidity  citric acid  ...  sulphates    alcohol   quality
0       7.940625          0.556031     0.294937  ...   0.666125   9.951042  5.231250
1       8.892763          0.508618     0.312763  ...   0.652434  10.616776  5.868421
2       8.930719          0.499183     0.312614  ...   0.697974  10.543137  5.758170
3       8.064286          0.535065     0.267338  ...   0.692208  10.164827  5.487013
4       8.191772          0.496487     0.251772  ...   0.665949  10.499789  5.810127
5       8.335393          0.536770     0.263539  ...   0.607416  10.889045  5.668539
6       8.358209          0.509664     0.275522  ...   0.657015  10.486567  5.768657
7       8.103145          0.561447     0.275597  ...   0.638113  10.199895  5.496855
8       8.389820          0.516168     0.264790  ...   0.685569  10.437725  5.634731
9       8.071196          0.549891     0.206033  ...   0.629946  10.405707  5.663043

[10 rows x 12 columns]

In [0]:
r=df_r["pH"]
r

0    3.257812
1    3.267237
2    3.283137
3    3.315260
4    3.320190
5    3.325449
6    3.326045
7    3.328931
8    3.331377
9    3.347174
Name: pH, dtype: float64

In [0]:
r[0]

3.257812499999999

In [0]:
r[0]+r[10-1]

6.604986413043478

In [0]:
3.257812+3.347174

6.604986

In [0]:
6.604986413043478